:root {
    --gray1: #f7f7f7;  /* Lightest gray */
    --gray2: #e0e0e0;
    --gray3: #c7c7c7;
    --gray4: #adadad;
    --gray5: #949494;
    --gray6: #7a7a7a;
    --gray7: #616161;
    --gray8: #474747;
    --gray9: #2e2e2e;  /* Darkest gray */
    --white1: #ffffff;
    --white2: #f0f0f0;
  }
.common_body {
    background-color: var(--gray9);
    margin: 0;
    padding: 0;
}

.common_nav {
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    display: flex;
    justify-content: center;
}


.common_blur {
    top: 0;
    position: fixed !important;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    height: 100px;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0.95;
    -webkit-mask-image: linear-gradient(to bottom, var(--gray9) 10%, transparent);
  }

  .common_blur:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, var(--gray9), transparent);
  }
  .common_box {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    border: 2px solid var(--gray8);
    background-color: var(--gray9);
    border-radius: 999px;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    padding: 5px;
  }
  .common_link__nav {
    text-decoration: none;
    font-size: 14px;
    margin: 8px 20px;
    transition: 0.1s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2;
    color: var(--white2);
  }
  
  .common_link__nav:hover {
    background-color: var(--white2);
    color: #333333;
  }
.home_main_content {
    text-align: center;
    margin-top: 50px;
}

.home_main_content h1 {
    font-size: 36px;
    color: var(--white1); /* Adjust the color as needed */
}

.home_main_content p {
    font-size: 18px;
    color: var(--white2); /* Adjust the color as needed */
    margin-bottom: 20px;
}
